<div class="note-detail">

  <nav class="navbar navbar-light">
      <form class="form-inline">

          <button class="btn btn-sm btn-outline-secondary" type="button">Kaydet</button>

      </form>
  </nav>

  <div *ngIf="DisplayPanel == 'Add'">

  <input [(ngModel)]="InsertNote.Title" type="text">

  <md-editor name="Content" [(ngModel)]="InsertNote.Content" [height]="height" [mode]="mode"></md-editor>

    <button type="button" (click)="AddNote()">Ekle</button>
  </div>

  <div *ngIf="DisplayPanel == 'Detail'">
  <input [(ngModel)]="Note.Title" type="text">
  <md-editor name="Content" [(ngModel)]="Note.Content" [height]="height" [mode]="mode"></md-editor>

  </div>

  <div *ngIf="DisplayPanel == 'Empty'">
    Boş
  </div>

</div>