<div class="notelist">
<div class="header">
    <div class="header-title">
        <button></button>

        <span>Notes</span>
    
        <button class="new-note" type="button" (click)="showNotePanel({type : 'Add'})">
          <i class="fa fa-plus" ></i>
        </button>
    </div>
    <div class="header-search">
      <div class="search-box">
          <input type="text" >
          <button><i class="fa fa-search"></i></button>
      </div>
    </div>
    

</div>
  
  
<div class="list-group">
  <div *ngFor="let note of Notes" (click)="showNotePanel({type : 'Detail', note : note})"  class="list-group-item">
    <div>
      <h5>{{ note.Title }}</h5>
      <p>
        {{ note.Content }}
      </p>
      <small>{{ note.CreateDate }}</small>
    </div>
    
  </div>
  
</div></div>
