

.notelist {
  
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    height: 100%;
    overflow: hidden;
    .header {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: 1px solid #ddd;
        &-title {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: var(--gutter);
        }
        &-search {
            padding: 10px var(--gutter);
            .search-box {
                border: 1px solid #ddd;
                border-radius: 3px;
                padding: 4px 10px;
                display: flex;
                flex-direction: row;
                input {
                    width: 100%;
                }
                input,
                button {
                    border: none;
                    background: transparent;
                    outline: none;
                }
                button {
                    margin-left: 5px;
                    padding: 3px 5px;
                }
            }
        }
    }

    .list-group{
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
        padding: 5px 0;

        &-item{
            cursor: pointer;
            padding: var(--gutter);
            border-bottom: 1px solid #ddd;
            &:hover{
                background-color: #90a4ae;
                color: #eceff1;
            }

            h5{
                font-size: 1.1em;
                font-weight: bold;
                padding-bottom: 5px;
            }
            p{
                $font-size: 1em;
                $line-height: 1.4;
                $lines-to-show: 2;
                display: -webkit-box;
                max-height: $font-size*$line-height*$lines-to-show; 
                margin: 0 auto;
                font-size: $font-size;
                line-height: $line-height;
                line-clamp: $lines-to-show;
                box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}