
        <app-note-list (ShowPanel)="ChangeDisplay($event)" [Notes]="Notes" ></app-note-list>

        <app-note-detail (CreateOrUpdateEvent)="loadData($event)" [DisplayPanel]="DisplayPanel" [Note]="selectedNote"
        [FolderId]="FolderId"></app-note-detail>

