<nav>
    <ul>
    <h4>
        <span>
            <i class="fa fa-book" aria-hidden="true"></i>
        </span>
        Klasörler</h4>
      <li *ngFor="let folder of FolderList" class="list-group-item">
          <a (click)="addEventForUI()" [routerLink]="['home', folder.ID]">{{folder.Name}}</a>
      </li>
        
    </ul>
  <div class="addNewList">
     <span (click)="open(content)">
            <i class="fa fa-plus" aria-hidden="true"></i> 
        Klasör Ekle</span>
  </div>
         
    

</nav>



<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
              
                <div class="input-group">
                   <input class="form-control" #newFolder type="text" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="save(newFolder.value)">Save</button>
    </div>
</ng-template>