nav{
    color : white;
    ul{
        width: 100%;

        h4{
            padding:  5px 10px;
            width: 100%;

            span{
                font-size: 0.8em;
            }
        }

        li{
            display: flex;
            a{
                padding:  5px 18px;
                width: 100%;
                &:hover{
                    background-color: grey;
                }
            }
        }
    }
}