html ,body{
    width: 100%;
    height: 100%;
  }
a{
    color : #eceff1;
}
.app{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
   &-sidebar{
        width: 180px;
        background-color: $dark-bg;
        position: relative;
        .addNewList{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-content: center;
            padding: 10px;
            font-size : 14px;
            cursor: pointer;
            i{
                font-size : 0.8em;
            }
        }
   }
   &-main{
        width: 100%;
      
        app-home-index{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
       }
   }
}



.tool-bar{
    display: flex;
    flex-direction: row;
    align-items: center;

    .btn-group{

        
        .btn:first-child{
            margin-left: 0;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        .btn:last-child{
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        .btn{
            background-color: #fff;
            border: 1px solid #eceff1;
            margin-left: -1px; 
            padding: 4px 8px;
            font-size: 10px;
            line-height: 1.5;
        }
    }
}

.ace_gutter,.ace_print-margin-layer{
    display: none;
}

.preview-panel{
   
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
}
